// Specific CSS for your home-page
body, html {
  height: 100%;
  // overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}
// Specific CSS for your home-page

p{	
	font-family: 'Roboto', sans-serif;	
	font-weight: 400;	
} 

IMG.displayed {
    display: block;
    // margin-left: auto;
    // margin-right: auto; 
    width: 100%;
    height: auto;
  }