// Specific CSS for your home-page
body, html {
  height: 100%;
  // overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}
// Specific CSS for your home-page

// ul, li{	
// 	font-family: 'Montserrat', sans-serif;	
//   font-size: 21px !important;
// } 

IMG.displayed {
    display: block;
    // margin-left: auto;
    // margin-right: auto; 
    width: 100%;
    height: auto;
  }