// Specific CSS for your home-page
body, html {
  height: 100%;
  // overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}
// Specific CSS for your home-page

h1, h2, h3, p{	
	font-family: 'Lora', serif;	
	font-weight: 400;	
} 