<div class="banner-article" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://www.ecranlarge.com/media/cache/resolve/1600x1200/uploads/image/001/175/le-bureau-des-legendes-photo-1175937.jpg">
		<h1 style="text-align: center;"> Qui suis-je ?</h1>
	</div>
</div>

<div class="container-article">
	<h4 class="titre_part"  style="text-align:center;"> Mathieu Junes-Candiotti </h2>
	<h4 style="text-align:center;"> Étudiant en Mastère 1 UX  à l'ESD Paris</h3>
		<hr>
	<p>Après avoir obtenu mon BAC ES en 2012, j’ai souhaité faire des études de psychologie pour devenir Psychologue Cognitiviste. Durant de ma deuxième année, j’ai compris que cette branche ne correspondait pas au métier que je souhaitais exercer. De ce fait, je me suis tournée vers ma passion principal qui est l’informatique.</p>
	<p>J’ai ainsi rejoint l’école Epitech Paris. Au cours de ma deuxième année, j’ai eu l’opportunité de faire un stage dans une agence qui m’a permis de découvrir le monde du Web. Suite à cela, j’ai décidé de suivre la formation que proposait Le wagon pour me former au développement Web. </p>
	<p>Après avoir obtenu ma certification avec succés, j’ai souhaité continuer mes études en alternance et me former à la gestion de projet. J'ai rejoint l’école IESA Multimédia et ait realisé mon alternance, en tant que chef de projet Web Jr et Développeur Ruby On Rails dans une agence. À la Suite à cette expérience, j’ai découvert l’UX Design correspondant à de la psychologie Cognitive, ce qui m’a poussé à choisir cette spécialité pour ma dernière année de Bachelor. Au cours de celle-ci, j’ai pu travailler en tant que Product Owner Jr au sein d’une Startup Ed-Tech. </p>
	<p>Après l'obtention de mon Bachelor en tant que Chef de projet Digital spécialité UX, j’ai décidé de poursuivre mes études en Mastère UX au sein de l’école ESD Paris. J'ai realisé ce mastère en alternance au sein du Groupe Canal+ en tant que Product Owner VOD.</p>
	<button style="display: block; margin: 0 auto; margin-top: 5%; border-radius: 15px; font-family: 'Roboto', sans-serif; padding: 8px 8px 8px 8px; border: none;"><%= link_to "Télécharger mon CV", "https://res.cloudinary.com/dmnigpnke/image/upload/v1594938471/CV-PO-Mathieu-Junes-Candiotti_2020_iwzl5x.pdf", :target => "_blank", class: "btn btn-flat" %>
	</button>
</div>
