<div class="banner-article" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://www.ecranlarge.com/media/cache/resolve/1600x1200/uploads/image/001/175/le-bureau-des-legendes-photo-1175937.jpg">
		<h1 style="text-align: center;"> Qui suis-je ?</h1>
	</div>
</div>

 <%= render 'shared/footer' %>