<div class="banner-article" style="background-image: url(https://d.newsweek.com/en/full/470526/jude-law-young-pope.jpg);">
	<div class="container">
		<h1 style="text-align: center;"> Le groupe Canal+ , pionnier de la télévision privée en France
 </h1>
		<h3 style="text-align: center;"> “Créateur et original depuis 1984 “</h3>
	</div>
</div>

<div class="container-article">
	<h3 class="titre_part"> 1. La première chaîne privée de France </h3>
	<p>Dans les années 80, les Français ont accès à trois chaînes de télévision dites publiques. Ces chaînes sont financées via la publicité et la redevance audio-visuelle. Les chaînes dites privées n’existent pas encore en France jusqu’à l’élocution du président François Mitterrand en 1982. </p>
	<blockquote class="blockquote line-citation">
  		<p class="mb-0"><em>« Une quatrième chaîne de télévision sera incessamment mise en œuvre. Elle se tournera davantage vers les retransmissions et aussi des problèmes de culture. Cette chaîne ne sera financée ni par la redevance, ni par la publicité » </em></p>
  		<footer class="blockquote-footer text-right">François Mitterrand, <cite title="Source Title">le 21 Juin 1982</cite></footer>
	</blockquote>
	<p>Le 4 novembre 1984, Canal+, la première chaîne privée et cryptée de France, est lancée permettant aux 186 000 premiers abonnés de découvrir des films récents en exclusivité, une programmation sportive et des matches de football.</p>
	<blockquote class="blockquote">
		<Img class="displayed" src="https://res.cloudinary.com/dmnigpnke/image/upload/v1597587381/LogoCanal_i0lbza.png" alt="logo Canal +">
		<footer class="blockquote-footer text-center" style="margin-top: 10px;">Premier logo Canal+ <cite title="Source Title">(Utilisation de 1984 à 1992)</cite></footer>
	</blockquote>	
	<p>Fin 1985, la chaîne est en difficulté avec un fort déficit ce qui la pousse à diffuser certaines émissions en clair afin de faire découvrir ses programmes et augmenter la conversion des prospects en abonnés. </p>
	<p>Mais une idée, indécente et inédite, initiée par Alain de Greef, un cadre de Canal+, va faire basculer l’engouement pour la chaîne privée. Ainsi, le 31 août 1985 est diffusé en crypté, après minuit le premier film X de l’histoire de Canal+. Cette étape va marquer les esprits de toute une jeune génération qui assiste à une transgression culturelle. </p>
	<p>Durant cette même période, Canal+ souhaite diffuser certains de ses programmes en clair afin de présenter son catalogue et donner envie aux téléspectateurs de s’abonner. Le 8 mai 1986, cette idée a permis à Canal+ d'atteindre un million d'abonnés. </p>
	<p>En 1987, Alain de Greef devient directeur des programmes et met en place des émissions qui par la suite culte deviendront cultes. Notamment, l’émission « Coluche 1 Faux » présentée par Coluche, mais aussi l’émission « Les Nuls » qui marque le début de la carrière d’Alain Chabat. Les idées d'Alain de Greef créent “l’esprit Canal“.</p>
	<Img class="displayed" src="https://res.cloudinary.com/dmnigpnke/image/upload/v1597587381/les_nuls_tvq6gk.png
" alt="les Nuls">
<footer class="blockquote-footer text-center" style="margin-top: 10px;">Emission Objectif Nul <cite title="Source Title">(Diffusée en 1987)</cite></footer>
<p>Durant cette même année, la chaîne décide de créer sa propre filiale de production avec Canal Production qui deviendra en 2002 « Studio Canal ».</p><p>En 1989, Canal+ dénombre prés de 3 millions d’abonnés. 
En 1992, la chaîne mène une stratégie à l’international en proposant un abonnement satellite .</p> <p>En 1996, Canal+ ouvre une filiale destiné à l’international (Canal+ Overseas) qui aboutira au lancement de trois nouvelles chaînes : CanalSat Réunion, CanalSat Caraïbes et CanalSat Calédonie.
</p>
<h3 class="titre_part"> 2. La transformation du Groupe Canal+ </h3>
<p>Le 21 décembre 2000, Alain de Greef est remercié, il est succédé par Michel Denisot, mais de nombreux téléspectateurs ne ressentent plus l’esprit Canal et se désabonnent. La chaîne a dû faire face à un plan de restructuration sociale et à de graves difficultés financière notamment avec l'émergence de la concurence. Les offres numériques sont de plus en plus nombreuses. Le bouquet TPS et le bouquet Canal Satellite sont les deux offres les plus en vogue à cette époque.
</p>
<p>Mais Canal+ a vu  très tôt, contrairement à ses concurrents, l’attrait des téléspectateurs pour les series, jouant ainsi sur deux tableaux. D’un côté, elle a dès 2004 débuté la création de séries originales qui ont été diffusées en exclusivité sur Canal et de l’autre, des accords signés avec des chaînes américaines telles que HBO pour posséder des droits de diffusion exclusifs en France.</p>
<Img class="displayed" src="https://res.cloudinary.com/dmnigpnke/image/upload/v1597587381/engrenage_sf50tv.png"><footer class="blockquote-footer text-center" style="margin-top: 10px;">Engrenages <cite title="Source Title">Première série originale Canal+ </cite></footer>
<h3 class="titre_part"> 3. Chiffres et positionnement du groupe Canal+ </h3>
<p>Fin 2019, le groupe Canal+ comptait 7033 collaborateurs,  près de 20,3 millions d’abonnés à travers le globe et un chiffre d’affaire de 3,46 milliards d'euros.</p>
<Img class="displayed" src="https://cdn.statcdn.com/Infographic/images/normal/13134.jpeg
" alt="Infographie: Le groupe Canal +  face à la concurrence">
<p></p>
<footer class="blockquote-footer text-center" style="margin-top: 10px;">Infographie: Le groupe Canal+ face à la concurrence <cite title="Source Title">(statista)</cite></footer>
<button style="display: block; margin: 0 auto; margin-top: 5%; border-radius: 15px; font-family: 'Roboto', sans-serif; padding: 8px 8px 8px 8px; border: none;"><%= link_to "Découvrez mes missions", :mission, class: "btn btn-flat" %>
	</button>
</div>
