<div class="banner-article" style="background-image: url(https://d.newsweek.com/en/full/470526/jude-law-young-pope.jpg);">
	<div class="container">
		<h1 style="text-align: center;"> Le Groupe Canal +, pionnier de la télévision privé en France
 </h1>
		<h3 style="text-align: center;"> “Créateur et original depuis 1984 “</h3>
	</div>
</div>

<div class="container-article">
	<h3 class="titre_part"> 1. La première chaîne privée de France </h3>
	<p>Dans les années 80, les Français ont accès à trois chaînes de télévision dite publique. Ces chaînes sont financées via la publicité et la redevance audio-visuelle. Les chaînes dites privés n’existent pas encore en France jusqu’à l’élocution du président François Mitterrand en 1982. </p>
	<blockquote class="blockquote line-citation">
  		<p class="mb-0"><em>« Une quatrième chaîne de télévision sera incessamment mise en œuvre. Elle se tournera davantage vers les retransmissions et aussi des problèmes de culture. Cette chaîne ne sera financée ni par la redevance, ni par la publicité » </em></p>
  		<footer class="blockquote-footer text-right">François Mitterrand, <cite title="Source Title">le 21 Juin 1982</cite></footer>
	</blockquote>
	<p>Le 4 novembre 1984, Canal + la première chaîne privée et cryptée de France est lancée permettant aux 186 000 premier abonnés de découvrir des films récents en exclusivité, une programmation sportive et des matches de football.</p>
	<blockquote class="blockquote">
		<Img class="displayed" src="https://www.eighties.fr/wp-content/uploads/2014/01/ancien%20logo%20canal%20plus%201984.jpg" alt="logo Canal +">
		<footer class="blockquote-footer text-center" style="margin-top: 10px;">Premier logo Canal + <cite title="Source Title">(Utilisation de 1984 à 1992)</cite></footer>
	</blockquote>	
	<p>Fin 1985, la chaîne est en difficulté avec un fort déficit ce qui la pousse à diffuser certaines émissions en clair visant à faire découvrir ses programmes et améliorer la conversion des prospects en abonnés. </p>
	<p>Mais une idée indécente et inédite initiée par Alain de Greef un cadre de Canal + va faire basculer l’engouement envers la chaîne privé. Ainsi, le 31 août 1985 est diffusé en cryptée après minuit le premier film X de l’histoire de Canal +. Cette étape va marquer les esprits de toute une jeune génération qui assistent à une transgression culturelle. </p>
	<p>Durant cette même période, Canal + souhaite diffuser certains de ses programmes en clair afin de présenter le catalogue que propose la chaîne et donner envie aux téléspectateurs de s’abonner. Cette idée a permis le 8 mai 1986 à Canal + d'atteindre un million d'abonnés. </p>
	<p>En 1987, Alain de Greef devient directeur des programmes et commence à mettre en place des émissions qui deviendront par la suite culte. Nous pouvons notamment parler de l’émission « Coluche 1 Faux » présenté par  Coluche, mais surtout de l’émission  par « Les Nuls » qui marque le début de la carrière d’Alain Chabat. Ces idées vont créer “l’Esprit Canal“</p>
	<Img class="displayed" src="https://fr.petitsfrenchies.com/wp-content/uploads/2016/03/les-nuls-jpg_235355.jpg
" alt="les Nuls">
<footer class="blockquote-footer text-center" style="margin-top: 10px;">Emission Objectif Nul <cite title="Source Title">(Diffusée en 1987)</cite></footer>
<p>Durant cette même année, Canal + décide de créer sa propre filiale de production avec Canal Production qui deviendra en 2002 « Studio Canal ».</p><p>En 1989, Canal + dénombre prés de 3 Millions d’abonnés. 
En 1992, Canal + mène une stratégie à l’international en proposant un abonnement satellite .</p> <p>Il créé en 1996 une filiale destiné à l’international (Canal + Overseas) qui mènera au lancement de 3 nouvelles chaînes : CanalSat Réunion, CanalSat Caraïbes et CanalSat Calédonie.
</p>
<h3 class="titre_part"> 2. La transformation du Groupe Canal + </h3>
<p>Le 21 décembre 2000, Alain de Greef est remercié. Il est remplacé par Michel Denisot, mais l’esprit Canal ne se fait plus ressentir et de nombreux désabonnement apparaissent. La chaîne a dû faire face à un plan de restructuration social et à de graves difficultés économiques notamment avec une concurence qui commence à s'imposer. Les offres numériques sont plus en nombreuses. Le bouquet TPS et le bouquet Canal Satellite sont les deux offres les plus en vogue à cette époque.
</p>
<Img class="displayed" src="https://services-client.net/wp-content/uploads/tps.png
" alt="logos TPS et Canal Sat ">
<footer class="blockquote-footer text-center" style="margin-top: 10px;">Canal Sat et TPS  <cite title="Source Title">Avant leur fusion </cite></footer>
<p>Mais Canal + a vu  très tôt à l’inverse de ses concurrents  l’importance de la vague que représentait  les series. Elle a ainsi jouer sur 2 tableaux. D’un côté, elle a dès 2004 débuté la création de série original qui ont été diffusé en exclusivité sur Canal et de l’autre ils ont passé des accords avec les chaines Américaines notamment HBO pour avoir des droits de diffusion exclusif en France.</p>
<Img class="displayed" src="https://addict-culture.com/wp-content/uploads/2019/02/engrenages07.jpg"><footer class="blockquote-footer text-center" style="margin-top: 10px;">Engrenages <cite title="Source Title">Première série original Canal + </cite></footer>
</div>
