<div class="banner">
  <div class="container" style="text-align: center; line-height: 35px;">
    <h1><strong>Product Owner VOD</strong> chez <strong>Canal + </strong> </h1>
    <p>Un an d'alternance mélant cours en Mastere 1 UX Design et travail chez Canal +  </p>
     <%= link_to "Découvrir", :entreprise, class: "btn btn-flat" %>
  </div>
</div>