<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://thumb.canalplus.pro/http/unsafe/%7BresolutionXY%7D/smart/creativemedia-image.canalplus.pro/content/0001/10/e9cad4faf6c3487ef0ba0006c1aa191dff724ebe.jpeg);">
  <div class="container" style="text-align: center; line-height: 35px;">
    <h1><strong>Product Owner VOD</strong> chez <strong>Canal + </strong> </h1>
    <p>Un an d'alternance mélant cours en Mastere 1 UX Design et travail chez Canal +  </p>
     <%= link_to "Découvrez mon alternance", :entreprise, class: "btn btn-flat" %>
  </div>
</div>