<section>
	<div class="banner">
	  <div class="container" style="text-align: center; line-height: 35px;">
	    <h1><strong>Product Owner VOD</strong> chez <strong>Canal+ </strong> </h1>
	    <p>Un an d'alternance mêlant des cours en Mastère 1 UX Design et des missions chez Canal+  </p>
	  </div>
	  <div class="goDown">
	        <section class="scrollIconSection scrollIconSection--1">
    		<a class="scroll" href="#container-article"> <span class="scroll-icon">
     		 <span class="scroll-icon__wheel-outer">
       		 <span class="scroll-icon__wheel-inner"></span>
     		 </span>
     		 	<span id="container-article"></span>
    		</span></a>
  		  </section>
	  </div>
	</div>
	<div class="container-article" >
		<h2>Introduction</h2>
	<p style="margin:00px 0px 20px 0px;">Au cours de ma première année de mastère UX à l’ESD Paris, j’ai eu l’opportunité de faire mon année d’alternance au sein de l’entreprise Canal+ en tant que Product Owner VOD dans le service de la DTSI entre septembre 2019 et juillet 2020. Mon travail s’est déroulé au siège social de Canal+ qui se situe à Issy-les-Moulineaux. </p>
		<Img class="displayed" src="https://res.cloudinary.com/dmnigpnke/image/upload/v1597767361/map_gdxoed.png" alt="Google Map">
		<footer class="blockquote-footer text-center" style="margin-top: 10px;">Siège social <cite title="Source Title">Canal+</cite></footer>
	<p>Au cours de cette expérience, mon travail consistait à travailler sur un back-office qui était utilisé par l’équipe Marketing de Canal+ . En tant que Product Owner, je devais faire le lien entre les utilisateurs et l’équipe technique pour améliorer le produit selon leurs besoins. J’ai eu également l’opportunité de gérer le lancement de la chaîne de télévision Olympia TV. Au-delà de l’expérience acquise au cours de cette année, j’ai pu découvrir l’importance de la communication au sein d’une équipe, acquérir de la maturité et devenir plus autonome; notamment durant le confinement qui a été une étape clé de mon alternance. Au travers de mon rapport, j’espère pouvoir vous faire découvrir l’esprit de Canal+ et vous faire partager mon aventure au sein de la première chaîne privée de France. </p>
	<button style="display: block; margin: 0 auto; margin-top: 5%; border-radius: 15px; font-family: 'Roboto', sans-serif; padding: 8px 8px 8px 8px; border: none;"><%= link_to "Découvrez mon entreprise", :entreprise, class: "btn btn-flat" %>
	</button>
	</div>
</section>

