<section>
	<div class="banner">
	  <div class="container" style="text-align: center; line-height: 35px;">
	    <h1><strong>Product Owner VOD</strong> chez <strong>Canal + </strong> </h1>
	    <p>Un an d'alternance mélant cours en Mastere 1 UX Design et travail chez Canal +  </p>
	  </div>
	  <div class="goDown">
	        <section class="scrollIconSection scrollIconSection--1">
    		<a class="scroll" href="#container-article"> <span class="scroll-icon">
     		 <span class="scroll-icon__wheel-outer">
       		 <span class="scroll-icon__wheel-inner"></span>
     		 </span>
     		 	<span id="container-article"></span>
    		</span></a>
  		  </section>
	  </div>
	</div>
	<div class="container-article" >
		<h3 style='text-align:center; margin: 10px 0 15px 0;'>Mathieu Junes-Candiotti</h3>
		<h4 style='text-align:center; margin: 0 0 15px 0;'>Etudiant en Mastere 1 en UX Design à l'ESD Paris</h4>
		<p style="margin:00px 0px 20px 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur ligula efficitur erat dapibus sodales. Aenean nisl dui, accumsan a dui sit amet, ultrices interdum enim. Duis finibus nibh tortor, vitae iaculis lectus pharetra at. Etiam gravida dolor sed tellus bibendum posuere. Pellentesque metus eros, blandit ut tortor vel, venenatis ornare orci. Praesent pharetra augue quis fermentum posuere. Ut dolor nisi, rhoncus eu purus vel, rutrum ullamcorper risus. Pellentesque vel aliquet sem. In eu orci eget tellus varius sollicitudin. Sed feugiat erat sit amet risus scelerisque ornare. Morbi diam magna, tristique et commodo a, lacinia sed augue. Donec facilisis molestie tortor quis sollicitudin. Nulla pulvinar viverra dui a tincidunt. Fusce interdum lacus ut purus luctus, in volutpat nisi sagittis. Etiam aliquet a nisi nec laoreet. Praesent ut gravida justo, sit amet fermentum erat.</p>
		<Img class="displayed" src="https://res.cloudinary.com/dmnigpnke/image/upload/v1597767361/map_gdxoed.png" alt="les Nuls">
		<footer class="blockquote-footer text-center" style="margin-top: 10px;">Siege Social <cite title="Source Title">Canal +</cite></footer>
		<p style="margin:00px 0px 20px 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur ligula efficitur erat dapibus sodales. Aenean nisl dui, accumsan a dui sit amet, ultrices interdum enim. Duis finibus nibh tortor, vitae iaculis lectus pharetra at. Etiam gravida dolor sed tellus bibendum posuere. Pellentesque metus eros, blandit ut tortor vel, venenatis ornare orci. Praesent pharetra augue quis fermentum posuere. Ut dolor nisi, rhoncus eu purus vel, rutrum ullamcorper risus. Pellentesque vel aliquet sem. In eu orci eget tellus varius sollicitudin. Sed feugiat erat sit amet risus scelerisque ornare. Morbi diam magna, tristique et commodo a, lacinia sed augue. Donec facilisis molestie tortor quis sollicitudin. Nulla pulvinar viverra dui a tincidunt. Fusce interdum lacus ut purus luctus, in volutpat nisi sagittis. Etiam aliquet a nisi nec laoreet. Praesent ut gravida justo, sit amet fermentum erat.</p>
	</div>
</section>

