<div class="banner-article" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://trxprds3.s3.amazonaws.com/uploads/2020/04/ouvrez-la-porte-du-bureau-des-legendes.jpg);">
	<div class="container">
		<h1 style="text-align: center;"> Product Owner VOD </h1>
		<h3 style="text-align: center;"> Equipe Donnée Edito et Recommandation à la DTSI</h3>
	</div>
</div>

<div class="container-article">
	<h3 class="titre_part">1. L'Équipe DER</h3>
	<p></p>
	<h3 class="titre_part">2. La méthode Agile</h3>
	<p>Lorsqu’une entreprise souhaite lancer un produit, elle a le choix entre 3 types de méthode de gestion de projet. Elle peut choisir la Méthode Kanban, la Méthode Agile ou encore la méthode traditionnelle. Chaque méthode possède ses avantages et ses inconvénients, mais dans le cadre de projet IT, la méthode Agile est la plus régulièrement choisit. </p>
	<p>La méthode Agile est tout particulièrement intéressante, car elle permet de casser la frontière entre la maîtrise d’ouvrage et la maîtrise d’œuvre, tout en évitant de planifier et spécifier en détail l’intégralité du produit. Ainsi, les équipes vont pouvoir s’adapter tout au long du développement du produit. On parle d’approche empirique, mais surtout de développement itératif.  </p>
	<p>
	<blockquote class="blockquote line-citation">
		<p class="mb-0"><em>« Une approche empirique permet de prendre des décisions et définir les objectifs et Deadlines en fonction du passé de l’équipe.  » </em></p>
		<footer class="blockquote-footer text-right">Citation <cite title="Source Title">Agile</cite></footer>
	</blockquote>
	<p>Par cette approche, l’équipe reçoit la vision produit à réaliser selon les demandes du client ou de l’équipe utilisatrice du produit. Elle peut lister l’ensemble des besoins et des exigences. Cette liste sera discutée avec l’équipe de développement ce qui permettra de connaître le coût, la difficulté et le temps de développement.  Ces besoins seront sélectionnés et développés au cours d’une courte période. </p>
	<p>La méthode Agile comporte un certain nombre de framework qui peuvent être considérés comme des méthodes spécifiques aux développement logiciel dont l’approche est basé sur la philosophie Agile.   Le framework le plus connu étant <strong>SCRUM</strong>.</p>
	<h3 class="titre_part">3. Les rôles dans une équipe Scrum </h3>
	<Img class="displayed" src="https://www.oeildecoach.com/wp-content/uploads/2018/03/role-responsabilite-equipe-scrum-oeil-de-coach.jpg">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Team Agile Scrum <cite title="Source Title">Source Blog Oeil de Coach</cite>
	</footer>
	<p>Dans le cadre d’un développement agile avec le framework Scrum, des rôles sont attribués à certains membres de l’équipe. Ces rôles font partie intégrante de la conception Scrum ainsi une équipe Scrum est composé de 3 rôles : le Scrum Master, Le Product Owner, Le Dev Team.</p>
	<p>Le Scrum Master est le garant de l’application de la méthodologie Scrum. Il est là pour aider les équipes à utiliser les bons outils que proposent le framework pour améliorer la productivité. </p>
	<p>Le Product Owner est le lien entre l’équipe et le client. Il apporte la vision produit et il a un lien direct avec les utilisateurs. Il met en place les sprints, met en place des tests et fait le recettage des développements terminé. Il est responsable des Users Stories et de leur priorisation. Ces Users stories seront mise dans le backlog puis placé dans des sprints pour être développé. </p>
	<blockquote class="blockquote line-citation">
		<p class="mb-0"><em>« Un Sprint est une intervalle de temps court (1 mois maximum, souvent appelé itération), pendant lequel la Dev Team va concevoir, réaliser et tester de nouvelles fonctionnalités » </em></p>
		<footer class="blockquote-footer text-right">Citation<cite title="Source Title"> Lexique Agile Scrum</cite></footer>
	</blockquote>
	<p>La Dev Team regroupe un ensemble de personnes dotés d’expertise différente qui seront nécessaire à la réalisation du produit.</p>
	<h3 class="titre_part">4. Être Product Owner de l'Outil Auteur</h3>
	<p>Tout au long de cette année, j’ai travaillé au pôle de la Direction Technique des Systèmes d’information (DTSI) au sein de la Direction Technique de Distribution (DTD) dans l’équipe Donnée Edito et recommandation (DER).</p>
	<p>J’ai travaillé tout au long de l’année avec un product owner sur  l’Outil Auteur (OA).  L’OA est un Backoffice de gestion éditoriale des contenus et des programmes de Canal +  . Il a été mis en place en 2017 et va être remplacé par une nouvelle version au cours de l’année 2020. </p>
	<p>L’objectif de l’OA est de permettre aux différentes équipes Marketing (le métier) d’animer leur catalogue Replay. En effet, le catalogue de Canal + avoisine les 40 000 contenus pour une personne ayant souscrit à l’ensemble des options. Ainsi, l’outil auteur permet d’animer le catalogue et de mettre des contenus en avant. </p>
	<p>Par rapport aux fonctionnalités existantes, nous pouvons principalement :<ul></ul>
		<li>Chercher des contenus et voir leurs informations</li>
		<li>Modifier des contenus</li>
		<li>Créer des listes pour regrouper les contenus </li>
		<li>Voir les contenus disponibles selon le type d’abonnement</li>
		<li>Administrer des chaînes</li>
		<li>Faire des exports de contenu </li>
	</p>
	<p>L’outil auteur est utilisé par les équipes animation en interne, mais également en externe chez les éditeurs (ex.: Disney +, TF1, M6 …). Ces derniers connaissent moins bien l’outil et doivent avoir accès à un environnement leur permettant de faire des actions simples. L’OA est également utilisé par l’équipe VOD Pilotage qui l’utilise pour paramétrer les différents chaînes et accès, mais également pour aider à la correction de bug que l’on retrouve en Front c’est à dire visible sur la plate-forme MyCanal.
	</p>
	<Img class="displayed" src="https://upload.wikimedia.org/wikipedia/fr/8/81/Mycanal.png" alt="Logo my canal">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Logo <cite title="Source Title"> Mycanal</cite>
	</footer>
	<p>En tant que Product Owner, j’ai participé à l’ensemble des cérémonies agiles. Ainsi, chaque matin commençait par le Daily StandUp Meeting (DSM) qui avait pour but de dire à l’ensemble de l’équipe en moins de 15 min leurs tâches de la veille, leurs tâches du jour et connaître leur difficulté. Mais nous avions également des réunions en ligne avec l’équipe technique en charge de l’OA qui ne faisait pas partie de l’entreprise. 
	Lors de ces réunions, nous faisions le Grooming afin d’estimer les tickets par rapport à leur difficulté, le temps de développement et permettre de faire une Priorisation. 
	</p>
	<p>J’ai été en lien direct avec l’équipe Métier qui a pu nous remonter des bugs, mais également des besoins précis à implémenter. Pour cela, nous avons mis en place une Roadmap qui était découpée par version. Chaque version comprenait un ensemble de tickets (Issue) que l’on écrivait sous forme de Users Stories sur Jira. 
	</p>
	<p>Les Users stories étaient destinés aux développeurs. Elles comprenaient des informations comme le Contexte, la solution, la validation, la requête Api (Via Postman) dans certains cas et des wireframes pour illustrer la demande.
	</p>
	<Img class="displayed" src="https://res.cloudinary.com/dmnigpnke/image/upload/v1596742891/Page_Search_Brodcast_results_i7zyaj.png" alt="Wireframe OA">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Exemple Wireframe <cite title="Source Title"> OA</cite>
	</footer>
	<p>Lorsque le développement d’un ticket était validé, je pouvais faire des tests que l’on nomme « recettage » sur le serveur de l’équipe qui était uniquement dédié à faire des tests avant la demande de livraison d’un package. Lorsque l’ensemble des tickets d’une version sont validés, l’équipe de développement nous faire parvenir un package qui contiendra l’ensemble des mises à jour faites sur cette version. Cette version était destinée à  mettre à jour le serveur de production, mais pour éviter des problèmes graves lors de la MEP (mise en production), nous devions suivre un cheminement bien précis.
	</p>
	<Img class="displayed" src="https://www.jenkins.io/images/logo-title-opengraph.png" alt="Logo Jenkins">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Jenkins <cite title="Source Title"> Outil de déploiement</cite>
	</footer>
	<p>
		Pour cela, les Devops ont mis au point différents parcours via Jenkins qui est un logiciel d’intégration continue. La première étape consistait à mettre le package sur un serveur de recette afin d’effectuer deux actions : <ul></ul>

	<li>La première était de constater que le package fonctionnait correctement et qu’il n’avait pas apporté des erreurs sur le serveur. 
	</li>
	<li>La seconde était de recetter les tickets de cette version et faire un test de non-régression. </li>
	</p>
	<p>Les tests de non régression furent les tests les plus importants à effectuer avant et après une MEP. Ils étaient sous forme de check-list et permettaient de vérifier le bon fonctionnement des fonctions vitales de l’OA. Lorsque la validation était faite, nous devions créer une version de l’OA existante avec la mise à jour du package et procéder à ce que l’on nomme un Switch.
	</p>
	<p>
	Se Switch peut être considéré comme un miroir permettant de basculer de l’ancienne version à la nouvelle tout en laissant la possibilité de revenir à l’ancienne au moindre problème. 
	</p>
	<p>Dans le cas où il n’y avait pas de soucis avec la nouvelle version dans les 48 h, je devais supprimer la nouvelle version. Et enfin, je devais mettre à jour le Wiki qui contient les « tutoriels » permettant de comprendre et d’utiliser l’OA.
	</p>
	<h3 class="titre_part">5. Les missions annexes au sein de Vod Pilotage</h3>
	<p>Au cours de mon année, j’ai eu l’opportunité de lancer la chaîne Olympia TV qui a été rajouté au catalogue de chaîne Canal + en Janvier 2020</p>
	<Img class="displayed" src="https://thumb.canalplus.pro/http/unsafe/%7BresolutionXY%7D/smart/creativemedia-image.canalplus.pro/content/0001/23/62690430de2dd43f58a8de6e3afd5543d528967e.jpeg">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Chaîne <cite title="Source Title">Olympia TV</cite>
	</footer> 

	<p>Pour effectuer cette tâche, les objectifs étaient nombreux et précis. En effet, mon rôle était de gérer l’ensemble des étapes en amont avant le lancement de la chaîne qui c’est faite le 22 janvier 2020. Tout a commencé par la lecture d’un document m’expliquant le cheminement de chacune des étapes puis par la création d’une fiche sur le logiciel Confluence afin de mettre en lumière l’avancée de mes tâches. Le processus s'est déroulé en plusieurs étapes. D’un côté, il y avait des tâches de configuration  que je devais faire sur certains logiciels propres à Canal + et de l’autre, je devais rester en contact avec les autres entités de canal et ses partenaires externes tels que Plurimédia et Arkena.
	 </p>


</div>
