<div class="banner-article" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://trxprds3.s3.amazonaws.com/uploads/2020/04/ouvrez-la-porte-du-bureau-des-legendes.jpg);">
	<div class="container">
		<h1 style="text-align: center;"> Product Owner VOD </h1>
		<h3 style="text-align: center;"> Equipe Donnée Edito et Recommandation à la DTSI</h3>
	</div>
</div>

<div class="container-article">
	<h3 class="titre_part">1. La méthode Agile</h3>
	<p>Lorsqu’une entreprise souhaite lancer un produit, elle a le choix entre 3 types de méthodes de gestion de projet. Elle peut choisir la méthode Kanban, la méthode Agile ou bien la méthode traditionnelle. Chaque méthode possède ses avantages et ses inconvénients, mais dans le cadre d’un projet IT, la méthode Agile est la plus régulièrement choisie. </p>
	<p>La méthode Agile est tout particulièrement intéressante, car elle permet de casser la frontière entre la maîtrise d’ouvrage et la maîtrise d’œuvre, tout en évitant de planifier et spécifier en détail l’intégralité du produit. Ainsi, les équipes vont pouvoir s’adapter tout au long du développement de celui-ci. On parle d’approche empirique, mais surtout de développement itératif. </p>
	<p>
	<blockquote class="blockquote line-citation">
		<p class="mb-0"><em>« Une approche empirique permet de prendre des décisions et définir les objectifs et deadlines en fonction du passé de l’équipe. »</em></p>
		<footer class="blockquote-footer text-right">Citation <cite title="Source Title">Agile</cite></footer>
	</blockquote>
	<p>Par cette approche, l’équipe comprend la vision produit à réaliser selon les demandes du client ou de l’équipe utilisatrice du produit. Elle peut lister l’ensemble des besoins et des exigences. Cette liste sera discutée avec l’équipe de développement ce qui permettra de connaître le coût, la difficulté et le temps de développement.  Ces besoins seront sélectionnés et développés au cours d’une courte période.</p>
	<p>La méthode Agile comporte un certain nombre de frameworks qui peuvent être considérés comme des méthodes spécifiques au développement logiciel, dont l’approche est basée sur la philosophie Agile. Le framework le plus connu étant
    <strong>SCRUM</strong>.</p>
	<h3 class="titre_part">2. Les rôles dans une équipe Scrum </h3>
	<Img class="displayed" src="https://www.oeildecoach.com/wp-content/uploads/2018/03/role-responsabilite-equipe-scrum-oeil-de-coach.jpg">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Team Agile Scrum <cite title="Source Title">Source Blog Oeil de Coach</cite>
	</footer>
	<p>Dans le cadre d’un développement agile avec le framework Scrum, des rôles sont attribués à certains membres de l’équipe. Ces rôles font partie intégrante de la conception Scrum ainsi une équipe Scrum est composée de 3 rôles : le Scrum Master, Le Product Owner, Le Dev Team.</p>
	<p>Le Scrum Master est le garant de l’application de la méthodologie Scrum. Il est là pour aider les équipes à utiliser les bons outils que proposent le framework pour améliorer la productivité. </p>
	<p>Le Product Owner est le lien entre l’équipe et le client. Il apporte la vision produit et il a un lien direct avec les utilisateurs. Il met en place les sprints, des tests et fait le recettage des développements terminés. Il est responsable des Users Stories et de leur priorisation. Ces Users stories seront mises dans le backlog puis placées dans des sprints pour être développées. 
 </p>
	<blockquote class="blockquote line-citation">
		<p class="mb-0"><em>« Un Sprint est une intervalle de temps court (1 mois maximum, souvent appelé itération), pendant lequel la Dev Team va concevoir, réaliser et tester de nouvelles fonctionnalités » </em></p>
		<footer class="blockquote-footer text-right">Citation<cite title="Source Title"> Lexique Agile Scrum</cite></footer>
	</blockquote>
	<p>La Dev Team regroupe un ensemble de personnes dotées d’expertises différentes qui seront nécessaires à la réalisation du produit.</p>
	<h3 class="titre_part">3. L'Équipe DER</h3>
	<p>Tout au long de cette année, j’ai pu travailler à la Direction Technique des Systèmes d’information (DTSI) au sein de la Direction Technique de Distribution (DTD) dans l’équipe Donnée Edito et recommandation (DER). Ce service rassemble un ensemble de chefs de projet technique, de développeurs et de devops qui sont spécialisés dans des outils conçus par Canal et destinés à la diffusion et à la gestion de contenu. Pour ma part, j’ai travaillé sur un outil de type Back Office qui a pour but de communiquer avec un ensemble d’API. </p>
	<h3 class="titre_part">4. Product Owner sur l'Outil Auteur</h3>
	<p>L’Outil Auteur (OA) est un Backoffice de gestion éditoriale des contenus et des programmes de Canal+ . Il a été mis en place en 2017 et va être remplacé par une nouvelle version au cours de l’année 2020. </p>
	<p>L’objectif de l’OA est de permettre aux différentes équipes Marketing (le métier) d’animer leur catalogue Replay. En effet, le catalogue de Canal+ avoisine les 40 000 contenus pour une personne ayant souscrit l’ensemble des options. Ainsi, l’outil auteur permet d’animer le catalogue et de mettre en avant des contenus.</p>
	<p>Par rapport aux fonctionnalités existantes, nous pouvons principalement : :<ul></ul>
		<li>Chercher des contenus et voir leurs informations</li>
		<li>Modifier des contenus</li>
		<li>Créer des listes pour regrouper les contenus </li>
		<li>Voir les contenus disponibles selon le type d’abonnement</li>
		<li>Administrer des chaînes</li>
		<li>Faire des exports de contenu </li>
	</p>
	<p>L’outil auteur est utilisé par les équipes animation en interne, mais également en externe chez les éditeurs (ex.: Disney +, TF1, M6 …). Ces derniers, connaissant moins bien l’outil, doivent avoir accès à un environnement leur permettant de faire des actions simples. L’OA est également utilisé par l’équipe VOD Pilotage qui l’utilise pour paramétrer les différents chaînes et accès, mais également pour aider à la correction de bugs que l’on retrouve en Front, c’est à dire visible sur la plate-forme MyCanal.
	</p>
	<Img class="displayed" src="https://res.cloudinary.com/dmnigpnke/image/upload/v1597505751/mycanal_ig5nb0.png" alt="Logo my canal">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Logo <cite title="Source Title"> Mycanal</cite>
	</footer>
	<p>En tant que Product Owner, j’ai participé à l’ensemble des cérémonies agiles. Ainsi, chaque matin, on commençait par le Daily StandUp Meeting (DSM) qui avait pour but de dire à l’ensemble de l’équipe en moins de 15 min leurs tâches de la veille, leurs tâches du jour et connaître leurs difficultés. Mais nous avions également des réunions en ligne avec l’équipe technique en charge de l’OA qui ne faisait pas partie de l’entreprise. Lors de ces réunions, nous faisions le Grooming afin d’estimer les tickets par rapport à leurs difficultés, le temps de développement et permettre de faire une Priorisation. 
	</p>
	<p>J’ai été en lien direct avec l’équipe Métier qui a pu nous remonter des bugs, mais également des besoins précis à implémenter. Pour cela, nous avons mis en place une Roadmap qui était découpée par version. Chaque version comprenait un ensemble de tickets (Issue) que l’on écrivait sous forme de Users Stories sur Jira. 
	</p>
	<p>Les Users stories étaient destinées aux développeurs. Elles comprenaient des informations comme le Contexte, la solution, la validation, la requête Api (Via Postman) dans certains cas et des wireframes pour illustrer la demande.
	</p>
	<Img class="displayed" src="https://res.cloudinary.com/dmnigpnke/image/upload/v1596742891/Page_Search_Brodcast_results_i7zyaj.png" alt="Wireframe OA">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Exemple Wireframe <cite title="Source Title"> OA</cite>
	</footer>
	<p>Lorsque le développement d’un ticket était validé, je pouvais faire des tests que l’on nomme « recettage » sur le serveur de l’équipe, qui était uniquement dédié à faire des tests, avant la demande de livraison d’un package. Lorsque l’ensemble des tickets d’une version sont validés, l’équipe de développement nous fait parvenir un package qui contiendra l’ensemble des mises à jour faites sur cette version. Cette version était destinée à mettre à jour le serveur de production, mais pour éviter des problèmes graves lors de la MEP (mise en production), nous devions suivre un cheminement bien précis.
	</p>
	<Img class="displayed" src="https://www.jenkins.io/images/logo-title-opengraph.png" alt="Logo Jenkins">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Jenkins <cite title="Source Title"> Outil de déploiement</cite>
	</footer>
	<p>
		Pour cela, les Devops ont mis au point différents parcours via Jenkins qui est un logiciel d’intégration continue. La première étape consistait à mettre le package sur un serveur de recette afin d’effectuer deux actions : 
	 <ul></ul>

	<li>La première était de constater que le package fonctionnait correctement et qu’il n’avait pas apporté des erreurs sur le serveur.  
	</li>
	<li>La seconde était de recetter les tickets de cette version et faire un test de non-régression. </li>
	</p>
	<p>Les tests de non régression furent les tests les plus importants à effectuer avant et après une MEP. Ils étaient sous forme de check-list et permettaient de vérifier le bon fonctionnement des fonctions vitales de l’OA. Lorsque la validation était faite, nous devions créer une version de l’OA existante avec la mise à jour du package et procéder à ce que l’on nomme un Switch.
	</p>
	<p>
	Ce Switch peut être considéré comme un miroir permettant de basculer de l’ancienne version à la nouvelle tout en laissant la possibilité de revenir à l’ancienne au moindre problème.  
	</p>
	<p>Dans le cas où il n’y avait pas de soucis avec la nouvelle version dans les 48 h, je devais supprimer la nouvelle version. Et enfin, je devais mettre à jour le Wiki qui contient les « tutoriels » permettant de comprendre et d’utiliser l’OA.
	</p>
	<h3 class="titre_part">5. Lancement d'une chaîne au sein de Vod Pilotage</h3>
	<p>Au cours de mon année, j’ai eu l’opportunité de lancer la chaîne Olympia TV qui a été rajouté au catalogue des chaînes Canal+ en janvier 2020.</p>
	<Img class="displayed" src="https://res.cloudinary.com/dmnigpnke/image/upload/v1597505621/olympia_dd1gv8.png">
	<footer class="blockquote-footer text-center" style="margin-top: 10px;">Chaîne <cite title="Source Title">Olympia TV</cite></footer> 
	<p>Pour effectuer cette tâche, les objectifs étaient nombreux et précis. En effet, mon rôle était de gérer l’ensemble des étapes en amont avant le lancement de la chaîne qui s’est faite le 22 janvier 2020. Tout a commencé par la lecture d’un document m’expliquant le cheminement de chacune des étapes puis par la création d’une fiche sur le logiciel Confluence afin de mettre en lumière l’avancée de mes tâches. Le processus s'est déroulé en plusieurs étapes. D’un côté, il y avait des tâches de configuration  que je devais faire sur certains logiciels propres à Canal+ et de l’autre, je devais rester en contact avec les autres entités de canal et ses partenaires externes tels que Plurimédia et Arkena.  
	 </p>
	<h3 class="titre_part">6. Hackaton 2019 : Lead The Change</h3>
	<p>Au cours de l’année, j’ai eu l’opportunité de participer à un Hackaton mis en place au sein de l’entreprise. Ce Hackaton avait pour but de faire travailler des employés de différents service ensemble au cours d’une seule journée afin de proposer des concepts pour le futur de Canal+. Durant cette journée, j’ai pu travailler au sein d’une équipe de sept personnes désirant apporter un aspect social à MyCanal. Au sein de cette équipe, j’ai été en charge de l’aspect UX et de la création des maquettes du concept. Pour cela, nous avons commencé par faire un brainstorming via un atelier Post-it puis nous nous sommes séparés en binôme, car nous devions préparer l’aspect économique de cette innovation, un prototype pour présenter notre idée et enfin le pitch .</p>
	<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"> <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/x7qyyng" width="100%" height="100%" allowfullscreen > </iframe>
	</div>
	<p>Suite au Pitch qui s’est  déroulé vendredi 7 novembre 2019, nous avons remporté la première place du Hackaton. Un second Pitch s'est déroulé en présence du Président du Groupe Monsieur Maxime Saada et devant le n°2 de Canal+ Monsieur Franck Cardoret. Ce deuxième Pitch nous a permis de recevoir la validation pour proposer cette innovation au service de la DPM (Direction Product Management) afin de travailler en étroite collaboration avec eux pour l’avancée de ce projet.
</p>
<button style="display: block; margin: 0 auto; margin-top: 5%; border-radius: 15px; font-family: 'Roboto', sans-serif; padding: 8px 8px 8px 8px; border: none;"><%= link_to "Découvrez mon bilan", :bilan, class: "btn btn-flat" %>
	</button>


</div>
