@media screen and (max-width: 900px){


.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumb.canalplus.pro/http/unsafe/%7BresolutionXY%7D/smart/creativemedia-image.canalplus.pro/content/0001/10/e9cad4faf6c3487ef0ba0006c1aa191dff724ebe.jpeg);
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 3px;
  font-weight: bold;
}

.banner p {
  margin-top: 8px;
  font-size: 18px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  line-height:18px;
}

 .banner-article {
    background-size: cover;
    color: white;
    padding: 150px 0;
  }

  .banner-article > container{
    width: 700px;
    margin: 50px auto;
  }

  .container-article {
    text-align: left;
    padding:25px;
    color: #292929;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.003em;
    font-weight: 400;
    font-family: 'Lora'
  }

  .container-article h2{
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
  }

  .container h1{
    color: white;
    text-align: center;
    font-size: 30px; 
  }

  .container h2{
    color: white;
    text-align: center;
    font-size: 24px; 
  }

   .container h3{
    font-size: 18px; 
  }

  .container p{
    font-size: 22px;
    line-height: 26px;
  }

}

@media screen and (min-width: 901px){


  .banner {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://thumb.canalplus.pro/http/unsafe/%7BresolutionXY%7D/smart/creativemedia-image.canalplus.pro/content/0001/10/e9cad4faf6c3487ef0ba0006c1aa191dff724ebe.jpeg);
    background-size: cover;
    height: 100vh;
    color: #eee;
    text-align: center;
    padding-top: 40vh;
  }

  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 40px;
    font-weight: 400;
  }

  .container h2{
    color: white;
    text-align: center;
    font-size: 32px; 
  }

  .container-article{
    width: 700px;
    margin: 50px auto;
    color: #292929;
    font-size: 16px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Lora'
  }

  .container-article h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  .container-article p {
    margin-top: 8px;
    line-height: 32px !important;
    letter-spacing: -0.003em;
    font-size: 21px;
    color: rgba(41, 41, 41, 1);
    opacity: .9;
    line-height:18px;
    word-break: break-word;
}
   .banner-article {
    background-size: cover;
    color: white;
    padding: 250px 0;
  }

  .container p{
    line-height: 1.6;
    font-size: 25px;
  }

}