.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.2s background-color ease;
  color: white;
}

.navbar-lewagon-white {
  background-color: white;
  color: #22252a;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

main > .container{
	padding-top: 60px;
}

.navbar-white{
	color: unset !important 
}